<div class="modal-header">
  <h3 class="modal-title">Add a new habit!</h3>
  <p>Parent id: {{modal.parent_habit_id}}</p>
  <p>Parent Habit: {{modal.habit}}</p>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <label for="habit">Habit Name:</label>
      <input ng-model="modal.habit" type="text" class="form-control" name="habit" placeholder="Quit Smoking (pot)" autofocus>
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <input ng-model="modal.description" type="text" class="form-control" name="description" placeholder="I want to stop smoking pot during the week (weekends are still ok! ;-)">
    </div>
    <div class="form-group">
      <label for="interval">Frequency:</label>
      <div class="form-inline">
        Every <input ng-model="modal.interval" type="number" class="form-control" name="interval" placeholder="1">
        <select ng-model="modal.period" class="form-control" name="period">
          <option value="daily">Days(s)</option>
          <option value="weekly">Weeks(s)</option>
          <option value="montly">Month(s)</option>
          <option value="yearly">Year(s)</option>
          
        </select>
      </div>  
    </div>
    <div class="form-group">
      <label for="cost">Reward/Punishment Value: </label>
      <input ng-model="modal.cost" type="number" step="0.01" class="form-control" name="cost" placeholder="1.00"></input>      
    </div>  
    <div class="checkbox">
      <label>
        <input ng-model="modal.public" type="checkbox" name="public">Make Habit Public?
    </div>
    <div class="checkbox">
      <label>
        <input ng-model="modal.subHabit" type="checkbox" name="public">Does this habit have sub-habits that will help you work or build towards this habit?
    </div>
  </form>
  <p>{{modal}}</p>
</div>
<div class="modal-footer">
  <button class="btn btn-danger" ng-click="modal.cancelForm()">Cancel</button>
  <button class="btn btn-success" ng-click="modal.submitForm()">Add Habit</button>
  <button class="btn btn-success" ng-click="modal.submitForm()">Add habit and create new sub-habit</button>
</div>